<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Records</title>
  <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>PATIENT RECORDS</h3>
    </div>
    <ul class="sidebar-menu">
      <li><a href="/dashboard" class="active"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
      <li><a href="/addrecord"><i class="fas fa-plus"></i>Add Records</a></li>
      <li><a href="doctors"><i class="fas fa-user-plus"></i>Add Doctor</a></li>
      <li><a href="doctorslist"><i class="fas fa-user-plus"></i>Doctors list</a></li>
      <li><a href="/login"><i class="fas fa-history"></i>User Logs</a></li>
      <li><a href="/about"><i class="fas fa-history"></i>About Us</a></li>
    </ul>
  </div>
  <div class="content">
    <div class="table-header">
      <div class="show-entries">

        <span><b>Entries</b></span>
      </div>
      <div class="search-box">
        <input type="text" placeholder="Search...">
      </div>
    </div>
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Case No.</th>
            <th>Doctor's name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Contact No.</th>
            <th>Date Added</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% for( let i = 0; i < details.length; i++ ) { %>
            <tr>
              <td><%= details[i].patient_caseNo %></td>
             <td><%= details[i].doctor_name %></td>
             <td><%= details[i].doctor_gender %></td>
             <td><%= details[i].doctor_age %></td>
             <td><%= details[i].doctor_phone %></td>
             <td><%= details[i].date %></td>
             <td>
               <a class="btn btn-edit" href="/edit/<%= details[i]._id %>">Edit</a>
               <a class="btn btn-view" href="/details/<%= details[i]._id %>">View</a>
             </td>
           </tr>
          <% } %>
        </tbody>
      </table>
    </div>
    <div class="pagination">
      <button class="btn btn-prev">Previous</button>
      <span>1</span>
      <button class="btn btn-next">Next</button>
    </div>
  </div>
</body>
</html>