<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Patient Records</title>
  <link rel="stylesheet" href="/css/doctordetail.css">
</head>
<body>
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>PATIENT RECORDS</h3>
    </div>
    <ul class="sidebar-menu">
      <li>
        <a href="/dashboard" class="sidebar-link">
          <i class="fas fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/addrecord" class="sidebar-link">
          <i class="fas fa-plus"></i>
          <span>Add Records</span>
        </a>
      </li>
      <li>
        <a href="/addDoctor" class="sidebar-link">
          <i class="fas fa-user-plus"></i>
          <span>Add Doctor</span>
        </a>
      </li>
      <li><a href="doctorslist" class="sidebar-link"><i class="fas fa-user-plus"></i>Doctors list</a></li>
      <li>
        <a href="/login" class="sidebar-link">
          <i class="fas fa-history"></i>
          <span>User Logs</span>
        </a>
      </li>
      <li>
        <a href="/about" class="sidebar-link">
          <i class="fas fa-history"></i>
          <span>About Us</span>
        </a>
      </li>
    </ul>
  </div>



    <div class="opd-findings">
      <div class="success-message">
        <i class="fas fa-check-circle"></i>
        <span></span>
        <i class="fas fa-times-circle close-btn"></i>
      </div>
      <h2>DOCTOR DETAILS</h2>
      <div class="finding-item">
        <span class="label">HOSPITAL NAME:<span class="value" style="padding-left: 25px;"><%=doctorinfo.hospital_name%></span></span>

      </div>
      <div class="finding-item">
        <span class="label">DOCTOR'S NAME:<span class="value" style="padding-left: 25px;"><%= doctorinfo.doctor_name %></span></span>
      </div>
      <div class="finding-item">
        <span class="label">AGE:<span class="value" style="padding-left: 25px;"><%= doctorinfo.age %></span></span>
      </div>
      <div class="finding-item">
      <span class="label">DATE CONSULTED:<span class="value" style="padding-left: 25px;"><%= doctorinfo.date_added %></span></span>
      </div>
      <div class="vital-signs">
        <div class="vital-sign">
          <span class="label">GENDER:<span class="value" style="padding-left: 25px;"><%= doctorinfo.gender %></span></span>
        </div>
        <div class="vital-sign">
          <span class="label">START TIME:<span class="value" style="padding-left: 25px;"><%= doctorinfo.start_time %></span></span>
        </div>
        <div class="vital-sign">
          <span class="label">END TIME:<span class="value" style="padding-left: 25px;"><%= doctorinfo.end_time %></span></span>
        </div>
        <div class="vital-sign">
          <span class="label">CONTACT NO:<span class="value" style="padding-left: 25px;"><%= doctorinfo.contact %></span></span>
          <span class="value"></span>
        </div>
      </div>
      <div class="finding-item">
        <span class="label">SPECIALIZATION:<span class="value" style="padding-left: 25px;"><%= doctorinfo.specialization %></span></span>
      </div>
      <div class="finding-item">
        <span class="label">QUALIFICATION:<span class="value" style="padding-left: 25px;"><%= doctorinfo.qualification %></span></span>
      </div>
      <div class="finding-item">
        <span class="label">EXPERIENCE:<span class="value" style="padding-left: 25px; height:5rem;" ><%= doctorinfo.experience %></span></span>
      </div>
    </div>
  </div>
</body>
</html>