<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Out Patient Findings</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/editRecord.css">
</head>
<body>
  <div class="sidebar">
    <div class="sidebar-header">
      <h3>PATIENT RECORDS</h3>
    </div>
    <ul class="sidebar-menu">
      <li><a href="/dashboard"><i class="fas fa-tachometer-alt"></i>Dashboard</a></li>
      <li><a href="/addrecord"><i class="fas fa-plus"></i>Add Records</a></li>
      <li><a href="/doctors"><i class="fas fa-user-plus"></i>Add Doctor</a></li>
      <li><a href="/doctorslist" ><i class="fas fa-user-plus"></i>Doctors list</a></li>
      <li><a href="/login"><i class="fas fa-plus"></i>User Logs</a></li>
      <li><a href="/about"><i class="fas fa-history"></i>About Us</a></li>
    </ul>
  </div>
  <div class="content">
    <div class="content-wrapper">
      <div class="add-record-section">

        <form action="/dashboard/<%=id%>?_method=PATCH" method="post">
          <h2>Edit Record</h2>
          <div class="form-group">
            <label for="patient-case">PATIENT CASE NUMBER</label>
            <input type="text" id="patient-case" name="patient_cas  eNo" value="<%=editinfo.patient_caseNo %>" required>
          </div>
          <div class="form-group">
            <label for="date">DATE</label>
            <input type="date" id="date" name="date" value="<%=editinfo.date %>" required>
          </div>
          <div class="form-group">
            <label for="chief-complaint">COMPLAINT:</label>
            <input type="text" id="chief-complaint" name="chief_complaint" value="<%=editinfo.chief_complaint%>" required>
          </div>
          <div class="form-group">
            <label for="history-illness">HISTORY OF PRESENT ILLNESS</label>
            <textarea id="history-illness" placeholder="Enter History of Present Illness" name="history_of_illness"><%=editinfo.history_of_illness%></textarea>
          </div>
          <div class="vital-signs">
            <h3>VITAL SIGNS</h3>
            <div class="vital-sign">
              <label for="bp">Blood Pressure</label>
              <input type="number" id="bp" placeholder="BP in mmHg" name="blood_pressure" min="80" value="<%=editinfo.blood_pressure %>">
            </div>
            <div class="vital-sign">
              <label for="rr">Respiratory Rate</label>
              <input type="number" id="rr" placeholder="RR /minute" name="respiratory_rate" min="10" value="<%=editinfo.respiratory_rate %>">
            </div>
            <div class="vital-sign">
              <label for="cr">Capillary Refill</label>
              <input type="number" id="cr" placeholder="CRT" name="capillary_refill" min="1" value="<%=editinfo.capillary_refill %>">
            </div>
            <div class="vital-sign">
              <label for="temp">Temperature</label>
              <input type="number" id="temp" placeholder="TEMP in degree C" name="temperature" min="95" value="<%=editinfo.temperature %>">
            </div>
            <div class="vital-sign">
              <label for="wt">Weight</label>
              <input type="number" id="wt" placeholder="Weight in kg" name="weight" min="0" value="<%=editinfo.weight %>">
            </div>
            <div class="vital-sign">
              <label for="pr">Pulse Rate</label>
              <input type="number" id="pr" placeholder="PR" name="pulse_rate" min="50" value="<%=editinfo.pulse_rate %>">
            </div>
          </div>
          <div class="form-group">
            <label for="attending-physician">ATTENDING PHYSICIAN</label>
            <input id="attending-physician" type="number" placeholder="xth time attending" min="1" name="physical_number" value="<%=editinfo.physical_number%>">
          </div>
          <div class="form-group">
            <label for="physical-exam">PHYSICAL EXAMINATION</label>
            <textarea id="physical-exam" placeholder="" name="physical_examination" ><%=editinfo.physical_examination %></textarea>
          </div>
          <div class="form-group">
            <label for="diagnosis">DIAGNOSIS</label>
            <textarea id="diagnosis" placeholder="Enter Diagnosis" name="diagnosis" required><%=editinfo.diagnosis %></textarea>
          </div>
          <div class="form-group">
            <label for="medication-treatment">MEDICATION/TREATMENT</label>
            <textarea id="medication-treatment" placeholder="Enter Medication/Treatment" name="medication_treatment" required><%=editinfo.medication_treatment %></textarea>
          </div>
        </div>
        <div class="doctor-details-section">
          <h2 >Edit Doctor Details</h2>
          <div class="form-group">
            <label for="doctor-name">Doctor's Name</label>
            <input type="text" id="doctor-name" name="doctor_name" value="<%=editinfo.doctor_name %>" required>
            </div>
            <div class="form-group">
            <label for="doctor-gender" >Doctor's Gender</label>
            <select id="doctor-gender" name="doctor_gender" value="<%=editinfo.doctor_gender %>">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            </select>
            </div>
            <div class="form-group">
            <label for="doctor-age">Doctor's Age</label>
            <input type="number" id="doctor-age" name="doctor_age" min="18" value="<%=editinfo.doctor_age %>" required>
            </div>
            <div class="form-group">
            <label for="doctor-phone">Doctor's Phone Number</label>
            <input type="tel" id="doctor-phone" name="doctor_phone" value="<%=editinfo.doctor_phone %>" pattern="[0-9]{10}" required>
            </div>
            <button type="submit" class="btn btn-warning ">Edit</button>
        </form>

          </div>
          </div>
            </div>
          </body>
          </html>
          